.banner-about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-top: 100px;

  /* Gradient Image */
  background-image: linear-gradient(
      to right,
      rgba(36, 22, 7, 100),
      rgba(255, 128, 0, 0.07)
    ),
    url("/src/assets/img/banner-about.webp");
}

.heading-primary span {
  color: #ff9933;
  font-size: 92px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

.subheading {
  padding-top: 74px !important;
}

.section-about {
  background-color: #ff99331f;
}

.img-about {
  overflow: hidden;
}

.about-img {
  width: 100%;
  transition: all 0.3s;
}

.about-img:hover {
  transform: scale(1.1);
}

.about-description {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 74px;
}

.about-text-box {
  align-items: center;
  justify-content: center;
}

.grid-about {
  display: grid;
  column-gap: 64px;
  row-gap: 24px !important;
}

.container {
  padding-bottom: 32px !important;
}

.content-section {
  /* margin-top: 144px; */
  /* margin-bottom: 48px; */
  width: 80%;
  margin: 144px auto 48px;
}

.tittle {
  text-align: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px 15px;
}

.content {
  display: flex;
  width: 100%;
  padding-top: 50px;
  justify-content: space-between;
}

.isi-content {
  flex: 1 1 1;
  width: 40%;
  text-align: justify;
}

.isi-content h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.isi-content p {
  font-family: sans-serif;
  font-style: normal;
  font-size: 20px;
}

.img {
  width: 50%;
  height: auto;
  flex: 1 3 1;
  object-fit: cover;
  border-radius: 20px;
}

.tbl {
  background: black;
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px 25px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: block;
  /* width: 100px; */
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.tbl:hover {
  background: yellowgreen;
  text-decoration: none;
}

.card-profile {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  padding-top: 10px;
}

.card-profile-item {
  background-color: #ff9933;
  padding: 10px 20px;
  border-radius: 9px;
  display: flex;
  color: whitesmoke;
}

.konten {
  padding-left: 10px;
}

.tittle2 {
  text-align: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 40px;
}

@media (max-width: 1300px) {
  .nav-menu {
    width: 50%;
  }

  .heading-primary span {
    font-size: 44px;
  }

  .grid {
    justify-items: center;
  }

  .about-text-box {
    margin: 0 60px;
    text-align: center;
  }

  .img-about:nth-child(3) {
    grid-row: 4;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .img-about {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .nav-menu {
    width: 80%;
  }

  .img-about {
    width: 100%;
  }
  .about-text-box {
    margin: 0;
  }

  .about-description {
    margin-bottom: 12px;
  }
}

@media (max-width: 550px) {
  .heading-primary span {
    font-size: 30px;
  }
}
