.section-blog {
  width: 100%;
}

.post-container {
  border-right: 4px solid #33333386;
}

.blog-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  width: 80%;
  margin: 144px auto 48px;
}

.post-content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  padding: 0 120px;
}

.post.thumb .post-img {
  width: 550px;
  height: 350px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10px;
  margin: auto;
}

.post-details {
  padding: 0 5px;
}

.post.link {
  text-decoration: none;
  color: #333;
  font-size: medium;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.post.title {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.post.paragraph {
  box-sizing: border-box;
  color: #333;
  font-size: medium;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-align: center;
}

.post-tags {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  list-style: none;
  gap: 5px;
  margin-bottom: 16px;
}

.tags {
  box-sizing: border-box;
  gap: 5px;
  margin: 16px 0;
}

.tags a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  line-height: 1px;
  letter-spacing: -0.5px;
  font-weight: 600;
}

.post-page {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.page-container {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 100px;
  margin-bottom: 16px;
}
.page a {
  text-decoration: none;
  color: #333;
  font-size: large;
  letter-spacing: -0.5px;
  font-weight: 600;
}

/* Sidebar Start */
/* .blog-sidebar-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  gap: 100px;
  padding: 20px;
  width: 400px;
  margin: 0 0 50px 100px;
}

.sidebar.top {
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  gap: 5px;
  height: 80px;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.search-container {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.form-search {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.search-box {
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #333;
  color: #333;
  box-sizing: border-box;
  width: 175px;
  height: 25px;
  padding: 10px;
}

#btn {
  background-color: #fff;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  color: #333;
  font-size: small;
  width: 70px;
  height: 25px;
  padding: auto;
}

.sidebar.center {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.recent-post-container {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 20px;
}

.recent-post-list-container {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 30px;
  padding: 10px;
}

.post-list {
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  list-style: none;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}
.post-list a {
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.list {
  padding: 5px;
  margin-top: 25px;
}
.list.paragraph {
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 20px;
  font-size: medium;
  font-weight: 500;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
}
.list.info {
  color: #333;
  font-size: small;
  box-sizing: border-box;
  line-height: 1.05;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.sidebar.bottom {
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: flex-end;
  width: 400px;
}

.categories-container {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 5px;
  margin: auto;
}
.categories.list {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: justify;
  list-style: none;
  gap: 40px;
}
.category {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.category a:hover {
  position: relative;
  top: -5px;
  transition: ease-in-out;
}

.categories.list a {
  text-decoration: none;
  color: #333;
  font-size: large;
  line-height: 1.05;
  letter-spacing: -0.5px;
  font-weight: 500;
} */
