/* menu */
.section-meals {
  margin-top: 96px;
}
.nav-margin {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 20px 0;
}

.nav-menu {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

.nav-link-menu:link,
.nav-link-menu:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4em;
  text-transform: uppercase;
  transition: all 0.3s;
}

.nav-link-menu:hover,
.nav-link-menu:active {
  color: #e67200 !important;
}

.grid-menu {
  row-gap: 84px !important;
}

.section-meals {
  padding: 96px 0;
}

.meal {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 5px;
  border-radius: 11px;
  overflow: hidden;
}

.meal-content {
  padding: 24px 48px 24px 48px;
}

.meal-title {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  margin-bottom: 32px;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.meal-attribute {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.meal-attributes li:last-child {
  margin-bottom: 24px;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  height: 24px;
  width: 24px;
  color: #ff7f00;
}

@media (max-width: 1300px) {
  .nav-menu {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .nav-menu {
    width: 80%;
  }
}
